/* expenses.css */

body {
    background-color: #ff7b00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%; /* Adjusted width to 90% */
    max-width: 800px;
    margin: 50px auto; /* Center the container vertically and horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

nav {
    text-align: right; /* Align the navbar to the right */
}

.btn-logout {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: #0056b3;
}

form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

select {
    padding: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f2f2f2;
}

.btn-back-dashboard {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px; /* Adjust margin as needed */
}

.btn-back-dashboard:hover {
    background-color: #0056b3;
}
