/* signup.css */

/* Body styles */
body {
    background-color: #ff7b00;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    color: white; /* Dark text color */
    margin-bottom: 20px;
}

form {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    background-color: #fff; /* White background */
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    color: #555; /* Medium gray text color */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Adjust the width to leave some space for padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

p {
    text-align: center;
    margin-top: 15px;
    color: white; 
}

a {
    color: white;
    text-decoration: none; /* Remove underline from links */
}

a:hover {
    text-decoration: underline; /* Underline links on hover */
}
